<section>
    <div class="row ace-categories" id="ace-search">
        <div class="columns large-12 medium-12 small-12">
            <div class="ace-title"><p class="int">quick links</p><p>Course Categories</p></div>
        </div>
        <div class="columns large-6 medium-6 small-12">
            <a href="/fundamentals/index.html" title="Fundamentals">
                <div class="category-container">
                    <div class="category-info">
                        <h4>Fundamentals</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="columns large-6 medium-6 small-12">
            <a href="/safety/index.html" title="Industrial Safety">
                <div class="category-container">
                    <div class="category-info">
                        <h4>Industrial Safety</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="columns large-6 medium-6 small-12">
            <a href="/electrical/index.html" title="Electrical/Electronics">
                <div class="category-container">
                    <div class="category-info">
                        <h4>Electrical/Electronics</h4>
                    </div>
                </div>
            </a>
        </div>
     <div class="columns large-6 medium-6 small-12">
         <a href="/mechanics/index.html" title="Mechanical Maintenance">
            <div class="category-container">
                <div class="category-info">
                    <h4>Mechanical Maintenance</h4>
                </div>
            </div>
        </a>
    </div>
     <div class="columns large-6 medium-6 small-12">
         <a href="/machinery/index.html" title="Industrial Machinery">
            <div class="category-container">
                <div class="category-info">
                    <h4>Industrial Machinery</h4>
                </div>
            </div>
        </a>
    </div>
     <div class="columns large-6 medium-6 small-12">
         <a href="/construction/index.html" title="Construction">
            <div class="category-container">
                <div class="category-info">
                    <h4>Construction</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="columns large-6 medium-6 small-12">
        <a href="/utilities/index.html" title="Utilities">
            <div class="category-container">
                <div class="category-info">
                    <h4>Utilities</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="columns large-6 medium-6 small-12">
        <a href="/engineering/index.html" title="Engineering Technology">
            <div class="category-container">
                <div class="category-info">
                    <h4>Engineering Technology</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="columns large-6 medium-6 small-12">
        <a href="/vehicle/index.html" title="Vehicle Maintenance">
            <div class="category-container">
                <div class="category-info">
                    <h4>Vehicle Maintenance</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="columns large-6 medium-6 small-12">
        <a href="/management/index.html" title="Business Management">
            <div class="category-container">
                <div class="category-info">
                    <h4>Business Management</h4>
                </div>
            </div>
        </a>
    </div>
     <div class="columns large-6 medium-6 small-12">
         <a href="/career/index.html" title="Career Development">
            <div class="category-container">
                <div class="category-info">
                    <h4>Career Development</h4>
                </div>
            </div>
        </a>
    </div>
     <div class="columns large-6 medium-6 small-12">
         <a href="/apprenticeship.html" title="Apprenticeship Programs">
            <div class="category-container">
                <div class="category-info">
                    <h4>Apprenticeship Programs</h4>
                </div>
            </div>
        </a>
    </div>
     <a class="viewall" href="#viewall"><p>View All ></p></a>
    </div>
</section>