<footer>
  <div class="row">
    <div class="columns large-4 small-12 desktoponly">
      <div class="footer-logo"><a href="index.html" title="Workforce Development"><img src="/assets/wfdlogo.gif" alt="Workforce Development Logo"></a></div>
    </div>
    <div class="columns large-8 small-12">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sitemap.html">Site Map</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="">Press Room</a></li>
        <li><a href="/contact_us.html">Contact Us</a></li>
      </ul>
       <p class="ftr-copyrt">&copy; 
        <script language="JavaScript">
          var d=new Date();
          yr=d.getFullYear();
          document.write(yr);
        </script> 
           Penn Foster Inc. All Rights Reserved.
           <span><a href="/copyright.html" title="Terms of Use"> Terms of Use</a> & <a href="/privacy.html" title="Privacy Policy">Privacy Policy</a></span>
        </p>
    </div> 
  </div>
</footer>
