<div class="hdr-container">
  <header class="mobileonly mobilehdr" style="display: none;">
  <div class="row">
      <div class="small-5 columns mobile-logo">
<a href="/"><img src="/assets/wfdlogo.gif" alt="Penn Foster High School"></a>        </div>
      <div class="small-7 columns mobile-ctas">
          <a href="tel:18002330259" class="phonenumber" title="Telephone">1.800.233.0259 <i class="fa fa-phone"></i></a>
<a href="http://login.pennfoster.edu/" target="_blank" title="Student Portal" class="piwik_link"></a> <a href="http://login.pennfoster.edu/" target="_blank"><img border="0" src="/images/man-icon.png" alt="Student Login"></a>
          <button class="hamburger hamburger--slider" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
      </div>
  </div>
</header>
<div class="mobilenav">
</div><div class="searchbar">
  <div class="row">
<form action="https://www.workforcedevelopment.com/search.html" id="cse-search-box">
                      <input type="hidden" name="cx" value=" 002429652815190559256:23vjgseepdu" />
                      <input type="hidden" name="cof" value="FORID:9" />
                      <input type="hidden" name="ie" value="UTF-8" />
                      <input type="text" name="q" size="15" />
                      <input type="submit" name="sa" value="Search" /></form>       <i class="fa fa-times"></i>
  </div>
</div><div class="transheader fixed" style="overflow: hidden; display: none;">
  <div class="row">
      <div class="large-6 medium-6 columns trans-offer">

<span class="call-learn">Call to Learn More</span> <span class="phonenumber" style="color:#fff;">1.800.233.0259</span></div>
      <div class="large-6 medium-6 columns trans-ctas">
           <a data-open="requestInfo" class="button requestinfo" href="" title="Request Info"><span>Request Info</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a>

<button class="hamburger hamburger--slider" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>

      </div>
  </div>
</div>
<div class="transnav">
</div><div class="preheader desktoponly">
  <div class="row">
      <div class="large-6 medium-6 columns stu-login"><a href="http://login.pennfoster.edu" target="_blank" title="Student Login">Student Login</a></div>
      <div class="large-6 medium-6 columns search"><i class="fa fa-search"></i></div>
  </div> 
 </div><header class="desktoponly">
  <div class="row">
      <div class="large-3 medium-3 columns logo">
<a href="index.html" title="Workforce Development"><img src="/assets/wfdlogo.gif" alt="Workforce Development Logo"></a> </div>
      <div class="large-9 medium-9 columns hdr-info">
          <div class="row">
              <div class="large-12 medium-12 columns hdr-info-top">
                     <span class="hdrtxt">Call to Learn More <a href="tel:18002330259" title="Call Today!" class="phonenumber">1.800.233.0259</a></span>
                        <a data-open="requestInfo" class="button requestinfo" href="" title="Request Info"><span>Request Info</span> <i class="ion-arrow-right-c" aria-hidden="true"></i></a>

              </div>
          </div>

       <div class="row">
              <div class="large-12 medium-12 columns hdr-info-bot">
                  <nav>
                      <ul>
                              <li>
                                  <a href="/programs.html" class="fa fa-caret-down homelnk" style="cursor: default;" title="Programs">Programs</a>
                              </li>
                              <li>
                                  <a href="/corpbenefits.html" class="fa fa-caret-down homelnk" style="cursor: default;" title="Training For Employees">Training For Employees</a>
                              </li>
                              <li>
                                  <a href="employeebenefits.html" class="fa fa-caret-down homelnk" style="cursor: default;" title="Training For You">Training For You</a>
                              </li>
                               <li>
                                  <a href="/success-stories.html" class="fa fa-caret-down homelnk" style="cursor: default;" title="Success Stories">Success Stories</a>
                              </li>
                                   <li>
                                  <a href="/about.html" class="fa fa-caret-down homelnk" style="cursor: default;" title="About Us">About Us</a>
                              </li>
                      </ul>
                  </nav>
              </div>
          </div></div>
  </div>
</header>
</div>
